<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <form method="post" action="/form-process">
        <table>
            <tr>
                <td>Email-id:</td>
                <td><input type="email" name="txt1" placeholder="Enter your Email-id" required></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="txt1" placeholder="Enter your Password" required></td>
            </tr>
            <td><input type="submit" value="Log-In"></td>
            </tr>
        </table>
    </form>
</body>
</html>