<!-- we do section -->

<section class="wedo_section layout_padding section_pr">
    <div class="container">
      <div class="heading_container">
        <h2><span>What</span> We do</h2>
      </div>
      <div class="carousel-wrap ">
        <div class="owl-carousel wedo_owl_carousel">
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="images/wedo-img1.jpg" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  Growing Fruits and Vegetables
                </h5>
                <p>
                  alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box ">
              <div class="img-box">
                <img src="images/wedo-img2.jpg" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  Caring & Planting
                </h5>
                <p>
                  alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box ">
              <div class="img-box">
                <img src="images/wedo-img3.jpg" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  Spring & Fall Cleanup
                </h5>
                <p>
                  alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end we do section -->