<!-- footer section -->
<footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved.</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->