<!-- header section strats -->
<header class="header_section">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <div class="custom_menu-btn">
        <button onclick="openNav()">
          <span class="s-1"> </span>
          <span class="s-2"> </span>
          <span class="s-3"> </span>
        </button>
      </div>
      <div id="myNav" class="overlay">
        <div class="menu_btn-style ">
          <button onclick="closeNav()">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>
        </div>
        <div class="overlay-content">
          <a class="active" href="index.html">
            Home
          </a>
          <a class="" href="/service">
            Services
          </a>
          <a class="" href="/why">
            Why us
          </a>
          <a class="" href="/contact">
            Contact Us
          </a>
        </div>
      </div>
      <a class="navbar-brand" href="index.html">
        <span>
          Farmfiled
        </span>
      </a>
      <div class="user_option">
        <form class="form-inline">
          <button class="btn  nav_search-btn" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
        <a href="">
          <i class="fa fa-user" aria-hidden="true"></i>
        </a>
      </div>
    </nav>
  </header>
  <!-- end header section -->