<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>login form</title>
    <link rel="stylesheet" href="/public/form.css">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
<link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">
</head>
<body>
  
 

<!-- FORM START -->
<form  style="margin-top: 9% ;" method="POST" action="admin_login_process">
    <div class="input">
        <h3 style="color: blue; text-align: center; padding-bottom: 10%; " >ADMIN</h3> 
<label for="admin_name"> ADMIN NAME <br></label>
<input type="text" id="admin_name" name="admin_name" placeholder="admin_name" required><br><br>
<label for="password">PASSWORD <br></label>
<input type="password" id="password" name="password"placeholder="password"required><br><br>
</div>
<input type="submit" value="SUBMIT"id=submit>
</form>
<!-- FORM END -->

</body>
</html>